@import "tailwindcss";

* {
    font-family: sans-serif;
    scroll-behavior: smooth;
    transition: all 0.2s ease 0s;
}

/*----------  ELEMENTS ---------- */

h1 {
    @apply font-bold text-[4rem] portrait:text-[2.5rem];
}

h2 {
    @apply text-[1.5rem]
}

h3 {
    @apply text-[1.25rem]
}

button {
    @apply bg-zinc-200 px-4 py-2;
}



header {
    @apply bg-zinc-950 py-5 ;
    p {
        @apply text-zinc-50 font-medium decoration-0 p-2 cursor-pointer select-none justify-self-center;
    }
}
footer {
    h3, p, a {
        @apply text-zinc-400 decoration-0 font-light portrait:text-sm;
    }

    a:hover {
        @apply text-zinc-300;
    }
}

select {
    @apply p-2 rounded-xl border border-black/0;
}

select:hover {
    @apply border-black/100;
}

/*---------- GENERAL CLASSES ---------- */

.main {
    @apply p-20 min-h-256 portrait:p-10;
}

.main-spacing {
    @apply flex flex-col gap-8;
}

.icon {
    @apply w-9 h-9 p-1;
}

.clickable {
    @apply cursor-pointer hover:scale-115 active:scale-85;
}

.clickable-small {
    @apply cursor-pointer hover:scale-105 active:scale-95;
}

div.custom-border {
    @apply shadow-lg;
}

.custom-border {
    @apply rounded-tl-4xl rounded-br-4xl;

    img {
        border-radius: inherit;
    }
}

/*---------- SPECIFIC CLASSES ---------- */

.info-table {
    td:first-child {
        @apply pr-3 portrait:pr-2;
    }
}

.filament .info-table {
    tr:nth-child(even) {
        @apply bg-zinc-200;
    }

    tr {
        @apply portrait:flex portrait:flex-col portrait:items-start portrait:gap-2 portrait:-mx-36;
    }

    td {
        @apply px-4 py-4 portrait:px-2 portrait:w-full;
    }

    td:first-child {
        @apply pr-3 portrait:pr-0 portrait:pb-1;
    }

    td:last-child {
        /*@apply portrait:-pl-0;*/
    }
}

.add-filament, .add-product {
    tr:nth-child(even) {
        @apply bg-zinc-200;
    }

    td {
        @apply pl-4 portrait:text-start;
    }

    td:has(input) {
        @apply flex items-center gap-2 p-2;

        button {
            @apply w-10 h-10;
        }
    }

    input {
        @apply w-full p-1 outline-none
    }

    input[type="color"] {
        @apply h-10
    }

    input:not([type="color"]) {
        @apply border border-zinc-500;
    }
}

.add-product table {
    @apply w-max;

    tr {
        @apply w-max;

        td {
            @apply w-max p-2;
        }
    }
}

.products-table .temp-td > div {
    @apply flex gap-1.5 p-2 items-center;
}

.labels table td {
    @apply portrait:text-sm;
}

.bigtable {
    @apply rounded-2xl border border-black p-4;
    @apply portrait:border-none portrait:p-2 portrait:overflow-auto;

    table {
        @apply table-auto w-full;

        thead {
            @apply text-lg font-semibold border-b border-black;

            td {
                @apply pb-4;
            }
        }

        tr:nth-child(even) {
            @apply bg-gray-200;
        }

        td {
            @apply px-4 py-2 align-middle;
        }

        td:last-child {
            @apply text-center flex justify-center items-center align-middle;
            /*@apply text-center;*/
        }
    }
}

.new-product-table {
    td:has(input) {
        @apply portrait:flex portrait:flex-col;
    }
}

/*---------- PRINT MEDIA ---------- */

@media print {
    @page {
        margin: 1cm;
    }

    body {
        margin: 0;
    }

    header, footer {
        display: none !important;
    }

    .no-print, .no-print * {
        display: none !important;
    }

    .no-break {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .main {
        padding: 0 !important;
    }
}